<header class="masthead">
  <div class="container px-5 mt-10">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <div class="mb-5 mb-lg-0 text-center text-lg-start">
          <h1 class="display-1 lh-1 mb-3">
            El mejor sitio de apuestas de Digitalware.
          </h1>
          <p class="lead fw-normal text-muted mb-5">
            Reunete y haz tus apuestas del mundial con Gol PredictorFake
          </p>
        </div>
      </div>
      <div class="col-lg-6">
      </div>
    </div>
  </div>
</header>
