<div>
  <div class="container px-5">
    <h2 class="text-center text-black font-alt mb-4">GolPredictor 2</h2>
    <div class="row gx-5 align-items-center">
      <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
        <div class="container-fluid px-5">
          <div class="row gx-5">
              <p>GolPredictor es una aplicación, que permite a un grupo de amigos crear una sesión donde pueden realizar sus predicciones de los partidos del mundial sin necesidad de registrarse</p>
              <p>GolPredictor es una aplicación, que permite a un grupo de amigos crear una sesión donde pueden realizar sus predicciones de los partidos del mundial sin necesidad de registrarse</p>
              <p>GolPredictor es una aplicación, que permite a un grupo de amigos crear una sesión donde pueden realizar sus predicciones de los partidos del mundial sin necesidad de registrarse</p>
              <p>GolPredictor es una aplicación, que permite a un grupo de amigos crear una sesión donde pueden realizar sus predicciones de los partidos del mundial sin necesidad de registrarse</p>
              <p>GolPredictor es una aplicación, que permite a un grupo de amigos crear una sesión donde pueden realizar sus predicciones de los partidos del mundial sin necesidad de registrarse</p>
              <p>GolPredictor es una aplicación, que permite a un grupo de amigos crear una sesión donde pueden realizar sus predicciones de los partidos del mundial sin necesidad de registrarse</p>
              <p>GolPredictor es una aplicación, que permite a un grupo de amigos crear una sesión donde pueden realizar sus predicciones de los partidos del mundial sin necesidad de registrarse</p>

            </div>
        </div>
      </div>
    </div>
  </div>
</div>
