<section class="bg-gradient-primary-to-secondary" id="sesion">
  <div class="container">
    <h2 class="text-center text-white font-alt mb-4">Sesiones activas</h2>
    <div
      class="d-flex flex-column flex-lg-row align-items-center justify-content-center"
    >
    <p>GolPredictor es una aplicación, que permite a un grupo de amigos crear una sesión donde pueden realizar sus predicciones de los partidos del mundial sin necesidad de registrarse</p>

    <p>GolPredictor es una aplicación, que permite a un grupo de amigos crear una sesión donde pueden realizar sus predicciones de los partidos del mundial sin necesidad de registrarse</p>

    <p>GolPredictor es una aplicación, que permite a un grupo de amigos crear una sesión donde pueden realizar sus predicciones de los partidos del mundial sin necesidad de registrarse</p>

    <p>GolPredictor es una aplicación, que permite a un grupo de amigos crear una sesión donde pueden realizar sus predicciones de los partidos del mundial sin necesidad de registrarse</p>

    <p>GolPredictor es una aplicación, que permite a un grupo de amigos crear una sesión donde pueden realizar sus predicciones de los partidos del mundial sin necesidad de registrarse</p>

    <p>GolPredictor es una aplicación, que permite a un grupo de amigos crear una sesión donde pueden realizar sus predicciones de los partidos del mundial sin necesidad de registrarse</p>

    <p>GolPredictor es una aplicación, que permite a un grupo de amigos crear una sesión donde pueden realizar sus predicciones de los partidos del mundial sin necesidad de registrarse</p>

    <p>GolPredictor es una aplicación, que permite a un grupo de amigos crear una sesión donde pueden realizar sus predicciones de los partidos del mundial sin necesidad de registrarse</p>

    </div>
  </div>
</section>
